{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [reagent "0.8.0"]
                ;;[cider/cider-nrepl "0.18.0-SNAPSHOT"]
                [proto-repl "0.3.1"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [lib.main]}}

        :devtools {:repl-init-ns lib.main
                   :after-load lib.main/reload!
                   :http-root "public"
                   :http-port 8080}}}}
